<div class="container">

  <h1>FAQ - Frequently Asked Questions</h1>
  <div class="FAQ">
    <div class="FAQkategori" *ngFor="let kategori of kategoriFAQs; index as i;">
      <h2 (click)="kategoriToggle[i] = !kategoriToggle[i]">{{kategori}}</h2>

      <div id="{{kategori}}" *ngIf="kategoriToggle[i]">
        <ng-container *ngFor="let faq of alleFAQs; index as k;">

          <div class="spørsmålBoks" *ngIf="faq.kategori.navn === kategori">
            <b class="spørsmål" (click)="sporsmalToggle[k] = !sporsmalToggle[k]">{{faq.sporsmal}}</b> <br />
            <div class="svar" *ngIf="sporsmalToggle[k]">
              {{faq.svar}} <br />

              <div class="tilbakemeldingFAQ" *ngIf="!tilbakemeldingGitt[faq.id]">
                <i>Var dette svaret til hjelp? <b (click)="endreTilbakemelding(faq, true)"> Ja</b> / <b (click)="endreTilbakemelding(faq, false)">Nei</b></i>
              </div>
              <div class="tilbakemeldingFAQ" *ngIf="tilbakemeldingGitt[faq.id]">
                <i>Takk for din tilbakemelding!</i>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>
